[submodule "firmware/ChibiOS"]
	path = firmware/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS
[submodule "firmware/stm32flash-code"]
	path = firmware/stm32flash-code
	url = https://git.code.sf.net/p/stm32flash/code
